body {
    background: url(img/background.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    margin: 0 auto;
}

h1 {
    background: radial-gradient(circle, rgba(63,94,251,1) 6%, rgba(9,9,121,0.01) 100%);
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 3%;
    padding:5px;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.pix {
    background: rgba(255, 255, 255, 0.748);
    border: 5px groove rgb(2, 105, 208);
    border-radius: 30px; 
    color:rgb(2, 105, 208);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    width: 40%;
}

img {   
    margin-bottom: 20px;
    width: 70%;
}

.copy-btn {
    background: white;
    border: 2px solid rgba(4, 47, 115, 0.814);
    border-radius: 5px;
    color:rgb(2, 105, 208);
    font-weight: 1000;
    margin-top: 10px;
    padding: 5px 30px;   
}

.copy-btn:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.05);
}

.copy-btn:active {
    background:rgb(2, 105, 208);
    color: white; 
    transform: scale(1.03);  
}


.deposito {  
    border: 5px groove rgb(2, 105, 208);
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.748);
    color:rgb(2, 105, 208);
    font-size: 20px;
    font-weight: bold;
    line-height: 3rem;
    margin-bottom: 30px;
    padding: 30px 10px;
    text-transform: uppercase;
    text-align: center;
    width: 40%;  
}

.footer {
    background: radial-gradient(circle, rgba(63,94,251,1) 33%, rgba(9,9,121,0.01) 100%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px; 
    text-align: center;   
}

@media screen and (max-width: 480px) {

  h1 {
    margin-bottom: 30px;
  } 
    
  .pix, .deposito {
    width: 80%;
  }     
}